/app/app.component.js
/app/app.component.js.map
/app/app.module.js
/app/app.module.js.map
/main.js
/main.js.map
/app/data-model.js
/app/data-model.js.map
/app/hero-detail.component.js
/app/hero-detail.component.js.map
