/app/app.component.js
/app/app.component.js.map
/app/app.module.js
/app/app.module.js.map
/main.js
/main.js.map
/app/mock-heroes.js.map
/app/app.component.spec.js
/app/app.component.spec.js.map
/app/app-routing.module.js
/app/app-routing.module.js.map
/app/dashboard.component.js
/app/dashboard.component.js.map
/app/hero.js
/app/hero.js.map
/app/hero.service.js
/app/hero.service.js.map
/app/hero-detail.component.js
/app/hero-detail.component.js.map
/app/heroes.component.js
/app/heroes.component.js.map
/app/mock-heroes.js
/npm-debug.log
